[submodule "meridian-stream-go"]
	path = meridian-stream-go
	url = https://github.com/haowjy/meridian-stream-go
[submodule "meridian-llm-go"]
	path = meridian-llm-go
	url = https://github.com/haowjy/meridian-llm-go
[submodule ".agents/.orchestrate"]
	path = .agents/.orchestrate
	url = https://github.com/haowjy/orchestrate
